## 1.DQL(Data Query Language)

- DQL allows you to query and retrieve specific data from one or more tables in a database, enabling data analysis, reporting, and other data-centric operations.

- The primary statement used in DQL is the SELECT statement, which allows you to query and retrieve data from one or more tables in a database.

### Key Points:-

1. SELECT Statement:
The basic syntax of the SELECT statement is as follows:

In [ ]:
SELECT column1, column2 FROM table_name;

2. WHERE Clause:
The WHERE clause is used to filter the rows returned by the SELECT statement based on a specified condition

In [ ]:
SELECT column1, column2, ...
FROM table_name
WHERE condition;

3. ORDER BY Clause:
The ORDER BY clause is used to sort the result set in ascending or descending order based on one or more columns

In [ ]:
SELECT column1, column2, ...
FROM table_name
ORDER BY column_name [ASC|DESC];

4. JOIN:
JOINs are used to combine rows from two or more tables based on a related column between them

###   In-built functions

**SQL built-in functions are pre-defined functions provided by the SQL language to perform operations on data within a database.**

**Categories and Syntax:-**

1. Aggregate Functions: Used to perform calculations on a set of values and return a single value.

In [ ]:
COUNT(column_name)
SUM(column_name)
AVG(column_name)
MAX(column_name)
MIN(column_name)

2. String Functions: Manipulate string data.

In [ ]:
CONCAT(string1, string2, ...)
SUBSTRING(string, start, length)
UPPER(string)
LOWER(string)
LENGTH(string)
TRIM([LEADING|TRAILING|BOTH] trim_character FROM string)

3. Date and Time Functions: Handle date and time data.

In [2]:
NOW()
CURRENT_DATE()
CURRENT_TIME()
DATE(expression)
YEAR(date)
MONTH(date)
DAY(date)

4. Numeric Functions: Perform operations on numeric data

In [4]:
ROUND(): Rounds a number to a specified number of decimal places.

ABS(): Returns the absolute value of a number.