### Join

**Definition:
SQL joins are used to combine rows from two or more tables based on a related column between them.**

1. INNER JOIN:
Definition: Returns records that have matching values in both tables.
Syntax:

In [ ]:
SELECT columns
FROM table1
INNER JOIN table2
ON table1.column = table2.column;

2. LEFT (OUTER) JOIN:
Definition: Returns all records from the left table, and the matched records from the right table

In [ ]:
SELECT columns
FROM table1
LEFT JOIN table2
ON table1.column = table2.column;

3. RIGHT (OUTER) JOIN:
Definition: Returns all records from the right table, and the matched records from the left table.

In [ ]:
SELECT columns
FROM table1
RIGHT JOIN table2
ON table1.column = table2.column;

4. FULL (OUTER) JOIN:
Definition: Returns all records when there is a match in either left or right table.

In [ ]:
SELECT columns
FROM table1
FULL OUTER JOIN table2
ON table1.column = table2.column;

5. CROSS JOIN:
Definition: Returns the Cartesian product of the two tables.
Syntax

In [ ]:
SELECT columns
FROM table1
CROSS JOIN table2;

6. SELF JOIN:
Definition: A join of a table with itself

In [ ]:
SELECT columns
FROM table1 T1, table1 T2
WHERE condition;

### Normalization

**Definition:
Normalization is the process of minimizing redundancy from a relation or set of relations.**

Type of normalization:-

1. First Normal Form (1NF):

Definition: A table is in 1NF if it contains no repeating groups or arrays.

-Rules:
- Each column should contain atomic (indivisible) values
- Each column should contain values of the same type
- Each column should have a unique name
- The order of data stored doesn't matter

Example:
Before 1NF:
```
| StudentID | Name      | Subjects            |
| 1         | John Doe  | Math, Physics, Chem |
```

After 1NF:
```
| StudentID | Name      | Subject |
| 1         | John Doe  | Math    |
| 1         | John Doe  | Physics |
| 1         | John Doe  | Chem    |
```

2. Second Normal Form (2NF):

Definition: A table is in 2NF if it is in 1NF and all non-key attributes are fully functionally dependent on the primary key.

Purpose:
- Remove partial dependencies

Rules:
- Must be in 1NF
- All non-key attributes depend on the entire primary key

Example:
Before 2NF:
```
| StudentID | Subject | Professor | ProfessorOffice |
| 1         | Math    | Dr. Smith | Room 101        |
| 1         | Physics | Dr. Jones | Room 202        |
```

After 2NF:
```
Students:
| StudentID | Subject |
| 1         | Math    |
| 1         | Physics |

Professors:
| Subject | Professor | ProfessorOffice |
| Math    | Dr. Smith | Room 101        |
| Physics | Dr. Jones | Room 202        |
```

3. Third Normal Form (3NF):

Definition: A table is in 3NF if it is in 2NF and all the attributes are directly dependent on the primary key.

Purpose:
- Eliminate transitive dependencies

Rules:
- Must be in 2NF
- No transitive dependencies (where non-prime attributes depend on other non-prime attributes)

Example:
Before 3NF:
```
| StudentID | Subject | Professor | ProfessorDepartment |
| 1         | Math    | Dr. Smith | Science             |
| 2         | Physics | Dr. Jones | Science             |
```

After 3NF:
```
Students:
| StudentID | Subject |
| 1         | Math    |
| 2         | Physics |

Professors:
| Professor | Subject | Department |
| Dr. Smith | Math    | Science    |
| Dr. Jones | Physics | Science    |
```

4. Boyce-Codd Normal Form (BCNF):

Definition: A table is in BCNF if, for every dependency A → B, A is a superkey.

Purpose:
- Eliminate all functional dependencies that do not have a superkey

Rules:
- Must be in 3NF
- For every functional dependency X → Y, X must be a superkey

Example:
Before BCNF:
```
| Student | Subject | Professor |
| John    | Math    | Dr. Smith |
| Jane    | Physics | Dr. Jones |
```

After BCNF:
```
Students:
| StudentID | Student |
| 1         | John    |
| 2         | Jane    |

Courses:
| CourseID | Subject | Professor |
| 101      | Math    | Dr. Smith |
| 102      | Physics | Dr. Jones |

Enrollments:
| StudentID | CourseID |
| 1         | 101      |
| 2         | 102      |
```

5. Fourth Normal Form (4NF):

Definition: A table is in 4NF if it is in BCNF and has no multi-valued dependencies.

Purpose:
- Eliminate multi-valued dependencies

Rules:
- Must be in BCNF
- No multi-valued dependencies

Example:
Before 4NF:
```
| Student | Subject | Textbook |
| John    | Math    | Book A   |
| John    | Math    | Book B   |
| John    | Physics | Book C   |
```

After 4NF:
```
StudentSubjects:
| Student | Subject |
| John    | Math    |
| John    | Physics |

SubjectTextbooks:
| Subject | Textbook |
| Math    | Book A   |
| Math    | Book B   |
| Physics | Book C   |
```

-This form is rarely used in practice due to its complexity and the fact that 4NF is usually sufficient for most applications.

-Each higher normal form addresses more specific and rare data anomalies. I